
    <h1>Hushhh...
        <a class="CreateId" href="/">Home Page</a>
        <a class="loginStyle" href="/login">Login</a>
    </h1>
    <form class="signup">
        <div class="fontId">
            Username:
            <br>
            <input class="inputId" id="username-input" type="username" placeholder="Enter Username">
            <br>
            <br> Password:
            <br>
            <input class="inputId" id="password-input" type="password" placeholder="Enter Password">
            <br>
            <br>
            <input class="submitId" type="submit" Value="Submit">
        </div>
    </form>

    <script type="text/javascript" src="js/signup.js"></script>

