<h1></h1>
    Hushhh...
    <a class="CreateId" href="/create">Create Account</a>
    <a class="loginStyle" href="/login">Login</a>
</h1>
<h3>What's Your Secret Confession?</h3>
<div class="postBox">
    <ul>
        {{#each posts}} 

        {{/each}}
    </ul>
</div>