
    <h1>Hushhh...
        <a class = "CreateId" href = "create.html">Create Account</a>
        <a class = "loginStyle" href = "login.html">Login</a>
    </h1>
        <h3>What's Your Secret Confession?</h3>
        <div class = "postBox"></div>
