
    <h1>Hushhh...
        <a class = "CreateId" href = "/">Home Page</a>
        <a class = "CreateId" href = "/create">Create Account</a>
    </h1>
    <form class="login">
        <div class = "fontId">
        Username:<br>
        <input class = "inputId" id="username-input" type = "input" placeholder="Enter Username">
        <br><br>
        Password:<br>
        <input class = "inputId" id="password-input" type = "input" placeholder="Enter Password">
        <br><br>
        <input class = "submitId" type = "submit" Value = "Login">

        </div>
    </form>
    <script type="text/javascript" src="js/login.js"></script>
    
<footer></footer>