<h1>
    Hushhh...
    <div class = "ProfileName">Profile Name</div>
    <a class = "CreateId" href = "/">Logout</a>
    <a class="CreateId" href="/profile">Profile</a>
</h1>
<h3>What's Your Secret?</h3>
<div class = "boxLayer">
    <div class="postBox">
        <div class = "newPostBox">
            {{#each posts}}
                <div class = "postStyle">{{this.post}}</div>
            {{/each}}
        <div>
    </div>
</div>

<footer></footer>