
    <h1>Hushhh...
        <div class = "ProfileName"></div>
        <a class = "CreateId" href = "/index">Home Page</a>
    </h1>
    
        <form class = "container">
            <div class = "paraBase">
                <h3>Post a Confession</h3>
                <textarea type = "text" class = "textBox"></textarea>
                <div class = "paraBox">layer</div>
                <br><br>
                <input type = "submit" class = "submitId" value = "Post">
            </div>
        </form>
        <script src="js/members.js"></script>
        <script src="js/style.js"></script>
        
