
    <h1>Hushhh...
        <div class = "ProfileName">Profile Name</div>
        <a class = "CreateId" href = "/">Logout</a>
        <a class = "CreateId" href = "/profileHome">Home Page</a>
        
    </h1>
    
        <form class = "container, post">
            <div class = "paraBase">
                <h3>Post a Secret...</h3>
                <textarea type = "text" class = "textBox"></textarea>
                <div class = "paraBox"></div>
                <br><br>
                <input type = "submit" class = "submitId" value = "Post">
            </div>
        </form>
        <script src="js/members.js"></script>
        <script src="js/style.js"></script>
        
<footer></footer>