.list-group-item {
  line-height: 2.5;
}

body{
  margin: 0;
  background-color: rgb(51, 47, 47);
  height: 1000px;
}

h1{
  background-color: rgb(255, 0, 128);
  width:100%;
  height:100px;
  text-align: left;
  vertical-align: center;
  line-height: 100px;
  color:white;
  padding:20px;
  font-family: 'Lobster Two', cursive;
  font-size: 50px;
  margin-right:20px;
}

h3{
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  margin-right:30px;
  color:white;
  width:50%;
  height:50px;
  margin: 0px auto 0px auto;
  text-align: center;
  font-weight: 100;
}

td{
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  margin-right:30px;
  color:white;
}

td:hover{
  cursor: pointer;
  text-shadow: 5px 5px 5px rgb(255, 0, 128);
}

table{
  width: 40%;
  margin-right:auto;
  margin-left:auto;
  
}

.loginStyle{
  float:right;
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
  color:white;
  margin-right:45px;
  background:none;
  border:none;
  text-decoration: none;
  font-weight: 100;
}

.loginStyle:hover{
  text-shadow: 5px 5px 5px rgb(51, 47, 47);
  cursor: pointer;
}

.CreateId{
  float:right;
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
  color:white;
  margin-right:45px;
  background:none;
  border:none;
  text-decoration: none;
  font-weight: 100;
}

.CreateId:hover{
  text-shadow: 5px 5px 5px rgb(51, 47, 47);;
  cursor: pointer;
}

form{
  width:45%;
  height:700px;
  padding: 40px;
  margin-right:auto;
  margin-left:auto;
}

.fontId{
  font-size: 24px;
  color: white;
  font-family: 'Lobster Two', cursive;
  margin-bottom: 20px;
}

.inputId{
  width: 90%;
  height: 20px;
  padding:10px;
}

.submitId{
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgb(255, 0, 128);
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 24px;
  cursor: pointer;
}

.HomeId{
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgb(255, 0, 128);
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 24px;
  cursor: pointer;
}

.postBox{
  background-color: rgba(0, 0, 0, 0.301);
  width:75%;
  height:700px;
  margin:20px auto 0 auto;
  color:white;
  border:3px solid rgb(255, 0, 128);
}

.viewPost{
  text-decoration: none;
  font-weight: 100;
  color:white;
}

.textBox{
  width:100%;
  height:100px;
  border: 2px solid rgb(255, 0, 128);
  font-size: 24px;
  font-family: 'Lobster Two', cursive;
  padding: 10px;
}

.ProfileName{
  float:right;
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
  color:white;
  margin-right:45px;
  background:none;
  border:none;
  text-decoration: none;
  font-weight: 100;
}